{% extends "base.html" %}

{% block content %}
    <h1>Load Part</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.stocknumber.label }}<br>
            {{ form.stocknumber(size=32) }}<br>
            {% for error in form.stocknumber.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
		<p>
		    {{ form.brand.label }}<br>
            {{ form.brand(size=32) }}<br>
            {% for error in form.brand.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
		</p>
        <p>
            {{ form.category.label }}<br>
            {{ form.category(size=32) }}<br>
            {% for error in form.category.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
		<p>
		    {{ form.price.label }}<br>
            {{ form.price(size=32) }}<br>
            {% for error in form.price.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
		</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}